<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons *ngIf="!_prods.generando_factura" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!_prods.generando_factura" class="headercliente">Items a Facturar</ion-title>
        <ion-title *ngIf="!_prods.generando_factura" class="headercliente">Se esta generando factura</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
    <ion-text color="primary">
        <h6>
            <ion-icon size="small" color="dark" name="paper"></ion-icon>{{_cliente.clienteActual.cliente}}</h6>
    </ion-text>
    <hr class="bg-tertiary">
    <div text-center *ngIf="factura.length === 0" class="carrito_vacio">
        <ion-icon name="ios-cart-outline" class="icon-5x"></ion-icon>
        <br> No tiene items a Facturar
    </div>
    <div *ngIf="!_prods.generando_factura && !grabando_factura && !mostrandoresulado && factura.length != 0" class="bg-white">
        <ion-grid class="btfactura-color">
            <ion-row *ngFor="let itemf of factura; let i = index;">
                <ion-col size="4">
                    <img *ngIf="itemf.item.link_imgfb" [src]="_DomSanitizer.bypassSecurityTrustUrl(itemf.item.link_imgfb)" />
                    <img *ngIf="!itemf.item.link_imgfb" src="assets/img/imagennodisponible.jpg" />
                </ion-col>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <div>
                                <ion-text color="primary" slot="start" tappable routerLink="/prod-detail/{{encodestring(itemf.item.cod_ref)}}">
                                    {{itemf.item.cod_ref}} {{itemf.item.nombre}}
                                </ion-text>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="7" class="justify-content-start">
                            <div>
                                <ion-input slot="start" (ionChange)="total(itemf,i,$event)" [(ngModel)]="itemf.item.cantidad" type="number" min="1" max="1000" step="1" placeholder="Cantidad" clearOnEdit="false">
                                </ion-input>
                            </div>
                        </ion-col>
                        <ion-col size="5" class="justify-content-start">
                            <div>
                                <ion-button slot="end" shape="round" color="danger" (click)="deleteItem(itemf)">
                                    <ion-icon name="trash" class="trash_icon"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <div>
                                <ion-text color="success" slot="end">
                                    Total: {{ itemf.item.total | currency }}
                                </ion-text>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
        <hr>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h3 class="text">
                        <strong>Total:</strong>
                    </h3>
                </ion-col>
                <ion-col>
                    <h3 class="texxt-rigth">
                        <strong> {{ total_fact | currency }}</strong>
                    </h3>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button *ngIf="!grabando_factura && !mostrandoresulado" slot="end" shape="round" color="success" (click)="realizar_factura()">
            Realizar factura
        </ion-button>
    </div>
    <ion-card *ngIf="grabando_factura && !mostrandoresulado">
        <ion-item padding class="animated fadeIn fast">
            <ion-text color="warning"> Grabando factura. Por favor espere...</ion-text>
            <ion-spinner name="bubbles"></ion-spinner>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="grabando_factura && !grabo_factura && mostrandoresulado && _visitas.visita_activa_copvdet.errorgrb_factu">
        <!-- <ion-text color="danger"> {{_visitas.visita_activa_copvdet.factura_grabada.men_error}}</ion-text> padding class="animated fadeIn fast" -->
        <ion-text color="danger"> Error Grabando la factura </ion-text>
        <ion-item *ngFor="let iteme of _visitas.visita_activa_copvdet.resgrb_factu; let i = index;">
            <ion-text color="danger"> {{iteme.menerror.trim()}}</ion-text>
        </ion-item>
        <ion-button slot="end" shape="round" color="success" (click)="quitar_resuladograbofact()">
            Continuar
        </ion-button>
    </ion-card>
    <ion-card class="btpedidotot-color" *ngIf="grabando_factura && grabo_factura && mostrandoresulado">
        <ion-text color="green"><strong> {{_visitas.visita_activa_copvdet.factura_grabada.men_error}}</strong></ion-text>
        <div>
            <textarea class="texto_imprimir">{{_visitas.visita_activa_copvdet.factura_grabada.txt_imp}}</textarea>
        </div>
        <!-- <ion-grid class="btfacturatot-color">
            <ion-row>
                <ion-col size="2">
                    Código
                </ion-col>
                <ion-col size="5">
                    Referencia
                </ion-col>
                <ion-col size="2">
                    Cantidad
                </ion-col>
                <ion-col size="3">
                    Valor
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let itemp of _visitas.visita_activa_copvdet.factura_grabada.factura_grabada; let i = index;">
                <ion-col size="2">
                    <div text-lowercase>
                        <ion-text color="primary" slot="start">
                            {{itemp.cod_refven}}
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="5">
                    <div text-lowercase>
                        <ion-text color="primary" slot="start">
                            {{itemp.cod_refven}} {{itemp.descrip}}
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="2">
                    <div text-lowercase>
                        <ion-text color="primary" slot="start">
                            {{itemp.cantidad}}
                        </ion-text>
                    </div>
                </ion-col>
                <ion-col size="3">
                    <div text-lowercase>
                        <ion-text color="primary" slot="start">
                            {{itemp.valor_neto | currency }}
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid class="btpedidotot-color">
            <ion-row>
                <ion-col size="7">
                    <strong>Subtotal:</strong>
                </ion-col>
                <ion-col size="5">
                    <strong> {{ _visitas.visita_activa_copvdet.factura_grabada.tvalneto | currency }}</strong>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="7">
                    <strong>Iva:</strong>
                </ion-col>
                <ion-col size="5">
                    <strong> {{ _visitas.visita_activa_copvdet.factura_grabada.tiva | currency }}</strong>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-row>
            <ion-col size="7">
                <strong>Total:</strong>
            </ion-col>
            <ion-col size="5">
                <strong> {{ (_visitas.visita_activa_copvdet.factura_grabada.tvalneto + _visitas.visita_activa_copvdet.factura_grabada.tiva) | currency }}</strong>
            </ion-col>
        </ion-row> -->
        <ion-button slot="start" shape="round" color="success" (click)="imprimir_factura()">
            Imprimir Factura
        </ion-button>
        <ion-button slot="end" shape="round" color="success" (click)="quitar_resuladograbofact()">
            Continuar
        </ion-button>
    </ion-card>

</ion-content>
<!-- Anterior -->
<!-- <ion-content class="animated fadeIn">
        <ion-grid>
            <ion-row>
                <ion-col size="12" margin-bottom>
                    <ion-card *ngIf="!favorites.length" class="bg-white" margin-top>
                        <ion-card-content>
                            <p text-center>
                                <ion-text color="primary">No tiene Items en factura</ion-text>
                            </p>
                        </ion-card-content>
                    </ion-card>
    
                    <ion-list>
                        <ion-item-sliding *ngFor="let favorite of favorites">
                            <ion-item tappable routerLink="/hotel-detail/{{favorite.hotel.id}}">
                                <ion-thumbnail slot="start">
                                    <img [src]="favorite.hotel.thumb">
                                </ion-thumbnail>
                                <ion-label>
                                    <h2>
                                        <ion-text color="primary">{{favorite.hotel.name}}</ion-text>
                                    </h2>
                                    <p>{{favorite.hotel.address}} ∙ {{favorite.hotel.price | currency }}</p>
                                </ion-label>
                            </ion-item>
                            <ion-item-options side="end">
                                <ion-item-option color="danger" (click)="deleteItem(favorite)">{{ 'app.label.remove' | translate }}</ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                    </ion-list>
    
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content> -->