<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="cargo_clienteact" >Cartera de: {{clienteAct.cliente}}</ion-title>
        <ion-buttons slot="end">
            <ion-button size="small" shape="round" (click)="cerrarModal()" color="tertiary">
                <ion-icon slot="start" name="close"></ion-icon> Cerrar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-card *ngIf="cargo_clienteact" class="facturaCard">
        <ion-list>
            <ng-container *ngIf="clienteAct.cartera.length === 0">
                <ion-text color="danger"> No tiene Facturas pendientes de pago</ion-text>
            </ng-container>
            <!-- <ion-item  *ngFor="let item of clienteAct.cartera" [ngClass]="colorxEstado(item.dias_venci)"> -->
            <ion-item  *ngFor="let item of clienteAct.cartera" >
                    <ion-label>
                    <h2 [ngClass]="{'fw700 text-white': true}">
                        <div class="fechavisita">
                            <ion-icon name="calendar" slot="start" color="secondary" *ngIf="true"></ion-icon>
                            <!-- <ion-text color="primary">{{ item.fecha_obl | date: 'shortDate'}}</ion-text> -->
                            <a [href]="cleanURL(item.link_fact)" class="list-group-item active">
                                Obl: {{ item.num_obliga }} {{ item.cod_dfactu+'/'+item.num_dfactu }}-{{
                                item.fecha_obl | date }}
                            </a>   
                        </div>
                    </h2>
                    <hr *ngIf="item.dias_venci>0"  class="hrvisitanoabierta">
                    <hr *ngIf="item.dias_venci<=0"  class="hrvisitacerrada">
                    <h3 class="hdatobliga">
                        <ion-text>
                            Mcia: {{ item.valor_neto | currency }} +Iva: {{ item.iva | currency }} 
                        </ion-text>
                    </h3>
                    <h3 class="hdatobliga">
                        <ion-text>
                            -Retención: {{
                                item.retencion+item.ret_indyci | currency }} total: {{ item.valor_neto +item.iva -
                                item.retencion - item.ret_indyci | currency }}
                        </ion-text>
                    </h3>
                    <h3 class="hdatobliga">
                        <ion-text [color]="colorxdescue(item.fec_limde15)">
                            15: {{item.fec_limde15 | date }} D: {{
                                item.tot_15dias | currency }} P: {{ item.saldo - item.tot_15dias | currency }}
                        </ion-text>
                    </h3>
                    <h3 class="hdatobliga">
                        <ion-text [color]="colorxdescue(item.fec_limde30)">
                            30: {{item.fec_limde30 | date }} D: {{
                                item.tot_30dias | currency }} P: {{ item.saldo - item.tot_30dias | currency }}
                        </ion-text>
                    </h3>
                    <h3>
                        <ion-text *ngIf="item.dias_venci>0" color="danger" margin-bottom>{{ item.dias_venci }} días de
                            vencida</ion-text>
                        <ion-text>
                            Saldo:{{item.saldo | currency }}
                        </ion-text>
                    </h3>
                    <hr>
                    <h2 *ngIf="item.naturaleza == 'D'  && item.saldo<0">
                        <ion-button size="small" shape="round" expand="full" color="danger">
                            <ion-icon slot="start" name="book"></ion-icon>
                            Saldo en Contra
                        </ion-button>
                    </h2>
                    <h2 *ngIf="item.naturaleza == 'C'">
                        <ion-button size="small" shape="round" expand="full" color="danger">
                            <ion-icon slot="start" name="book"></ion-icon>
                            Anticipo
                        </ion-button>
                    </h2>

                </ion-label>
            </ion-item>

        </ion-list>
    </ion-card>
</ion-content>