<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons *ngIf="!_consigna.generando_consigna" slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Resumen Caja</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">    
    <ion-text color="primary">
        <h6>
            <ion-icon size="small" color="dark" name="cash"></ion-icon>Resumen Caja
        </h6>
    </ion-text>
    <hr class="bg-tertiary">
    <ion-item *ngIf="!paga_efectivo" class="bg-white">
        <ion-label color="dark">Fecha Base:</ion-label>
        <ion-datetime slot="end" no-padding no-margin class="text-warning fechacons" displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2019" max="2032" (ionChange)="gen_resumen()" [(ngModel)]="fecha_base"></ion-datetime>
    </ion-item>
     <!-- (cierrecajaefe.length != 0 || formpagcheq.length != 0 || ultconsigna.length != 0)" -->

    <div *ngIf="cargo_cierrecajaresum" class="bg-white">
        <!-- <ion-card class="bg-primary" no-margin> -->
        <ion-card no-margin>
            <ion-segment [(ngModel)]="vistapagos" color="light">
                <ion-segment-button value="verresum">
                    <ion-label color="danger">Resumen</ion-label>
                </ion-segment-button>
                <ion-segment-button value="verrecibido">
                    <ion-label color="success">Recibido</ion-label>
                </ion-segment-button>
                <ion-segment-button value="verconsignadas">
                    <ion-label color="tertiary">Consignado</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div class="ccFlags" [ngSwitch]="vistapagos">             
                <ion-grid *ngSwitchCase="'verresum'" nopadding>
                    <ion-list>
                     <ion-label class="selectresum"  color="danger">Recibido
                    </ion-label>
                    <hr class="danger">
                      <ion-item class="selectresum">
                        <ion-label class="selectresum"  color="dark">Efectivo
                                {{totefectivo | currency }}
                        </ion-label>
                        <!-- <ion-select interface="popover" class="selectresum1" okText="Ok" cancelText=""> -->
                        <ion-select interface="action-sheet" class="selectresum1" okText="Ok" cancelText="Ok">
                                <ion-select-option class="selectresum" *ngFor="let iteme of cierrecajaefe; let i = index;" value="">
                                {{iteme.cod_docume+'-'+iteme.num_docume }}
                                    {{iteme.valor | currency }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item class="selectresum">
                        <ion-label class="selectresum"  color="dark">Cheques
                                {{totalcheques | currency }}
                        </ion-label>
                        <ion-select interface="action-sheet" class="selectresum1" okText="Ok" cancelText="Ok">
                            <ion-select-option class="selectresum" *ngFor="let itemche of cierrecajachd; let i = index;" value="">
                                {{itemche.cod_docume+'-'+itemche.num_docume }}
                                    {{itemche.valor | currency }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item class="selectresum">
                        <ion-label class="selectresum"  color="dark">Consig.
                                {{totalconsig | currency }}
                        </ion-label>
                        <ion-select interface="action-sheet" class="selectresum1" okText="Ok" cancelText="Ok">
                            <ion-select-option class="selectresum" *ngFor="let itemcon of cierrecajapbcs; let i = index;" value="">
                                {{itemcon.cod_docume+'-'+itemcon.num_docume }}
                                    {{itemcon.valor | currency }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item class="selectresum">
                        <ion-label class="selectresum"  color="dark">Transfer.
                                {{totaltrasfer | currency }}
                        </ion-label>
                        <ion-select interface="action-sheet" class="selectresum1" okText="Ok" cancelText="Ok">
                            <ion-select-option class="selectresum2" *ngFor="let itemtra of cierrecajapbtr; let i = index;" value="">
                                {{itemtra.cod_docume+'-'+itemtra.num_docume }}
                                    {{itemtra.valor | currency }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                <ion-list>
                        <ion-label class="selectresum"  color="tertiary">Total Recibido
                                {{totefectivo+totalcheques+totalconsig+totaltrasfer | currency }}
                        </ion-label>
                </ion-list>
                <hr class="danger">
                <ion-label class="selectresum"  color="danger">Consignado
                </ion-label>
                <hr class="danger">
            <ion-list>
                    <ion-item class="selectresum">
                        <ion-label class="selectresum"  color="dark">Consig.
                                {{totalconsigerealizadas | currency }}
                        </ion-label>
                        <ion-select interface="action-sheet" class="selectresum1" okText="Ok" cancelText="Ok">
                            <ion-select-option class="selectresum2" *ngFor="let itemcsrea of consignacionesresum; let i = index;" value="">
                                {{itemcsrea.cod_docume+'-'+itemcsrea.num_docume }}
                                    {{itemcsrea.valor | currency }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>

            </ion-grid>
            <ion-grid *ngSwitchCase="'verrecibido'">
                <ion-list *ngIf="cargo_recibosresum">
                    <ion-label class="selectresum"  color="success">Efectivo
                    </ion-label>
                    <ion-item lines="full" *ngFor="let item of cierrecajaefe; let i = index;">
                        <ion-label class="ion-text-wrap">
                            <ion-text color="primary">
                                <h6>{{item.cod_docume+'-'+item.num_docume+' '+clienterecibo(item.cod_docume,item.num_docume) }}</h6>
                            </ion-text>
                            <ion-text color="secondary">
                              <p>Valor: {{item.valor | currency }}</p>
                            </ion-text>
                          </ion-label>
                    </ion-item>
                    <ion-item lines="full" >
                        <ion-label class="ion-text-wrap">                
                            <ion-text color="secondary">
                              <p>Total Efec: {{totefectivo | currency }}</p>
                            </ion-text>
                          </ion-label>
                    </ion-item>
                   </ion-list>
               <ion-list>
                <ion-label class="selectresum"  color="success">Cheques
                </ion-label>
                <ion-item lines="full" *ngFor="let iteme of cierrecajachd; let i = index;">
                    <ion-label class="ion-text-wrap">
                        <ion-text color="primary">
                            <h6>{{iteme.cod_docume+'-'+iteme.num_docume+' '+clienterecibo(iteme.cod_docume,iteme.num_docume) }}</h6>
                        </ion-text>
                        <p>Referencia:{{iteme.referencia}}</p>
                        <ion-text color="secondary">
                          <p>Valor: {{iteme.valor | currency }}</p>
                        </ion-text>
                      </ion-label>
                </ion-item>
                <ion-item lines="full" >
                    <ion-label class="ion-text-wrap">                
                        <ion-text color="secondary">
                          <p>Total Cheq: {{totalcheques | currency }}</p>
                        </ion-text>
                      </ion-label>
                </ion-item>

               </ion-list>
               <ion-list>
                <ion-label class="selectresum"  color="success">Consignaciones
                </ion-label>
                <ion-item lines="full" *ngFor="let iteme of cierrecajapbcs; let i = index;">
                    <ion-label class="ion-text-wrap">
                        <ion-text color="primary">
                            <h6>{{iteme.cod_docume+'-'+iteme.num_docume+' '+clienterecibo(iteme.cod_docume,iteme.num_docume) }}</h6>
                        </ion-text>
                        <p>Referencia:{{iteme.referencia}}</p>
                        <ion-text color="secondary">
                          <p>Valor: {{iteme.valor | currency }}</p>
                        </ion-text>
                      </ion-label>
                </ion-item>
                <ion-item lines="full" >
                    <ion-label class="ion-text-wrap">                
                        <ion-text color="secondary">
                          <p>Total Consig: {{totalconsig | currency }}</p>
                        </ion-text>
                      </ion-label>
                </ion-item>
                        </ion-list>
        <ion-list>
         <ion-label class="selectresum"  color="success">Transferencias
         </ion-label>
         <ion-item lines="full" *ngFor="let iteme of cierrecajapbtr; let i = index;">
             <ion-label class="ion-text-wrap">
                 <ion-text color="primary">
                   <h6>{{iteme.cod_docume+'-'+iteme.num_docume+' '+clienterecibo(iteme.cod_docume,iteme.num_docume) }}</h6>
                 </ion-text>
                 <p>Referencia:{{iteme.referencia}}</p>
                 <ion-text color="secondary">
                   <p>Valor: {{iteme.valor | currency }}</p>
                 </ion-text>
               </ion-label>
         </ion-item>
         <ion-item lines="full" >
            <ion-label class="ion-text-wrap">                
                <ion-text color="secondary">
                  <p>Total totaltrasfer:: {{totalconsig | currency }}</p>
                </ion-text>
              </ion-label>
        </ion-item>
 <ion-item lines="full" >
            <ion-label class="ion-text-wrap">                
                <ion-text color="danger">
                  <p>Total: {{totefectivo+totalcheques+totalconsig+totaltrasfer | currency }}</p>
                </ion-text>
              </ion-label>
        </ion-item>
   </ion-list>
</ion-grid>

                <ion-grid *ngSwitchCase="'verconsignadas'">
                    <ion-list>
                        <ion-label class="selectresum"  color="success">Consignado
                        </ion-label>
                        <ion-item lines="full" *ngFor="let iteme of consignacionesresum; let i = index;">
                            <ion-label class="ion-text-wrap">
                                <ion-text color="primary">
                                  <h4>{{iteme.cod_docume+'-'+iteme.num_docume }}</h4>
                                </ion-text>
                                <p>Referencia:{{iteme.referencia}}</p>
                                <ion-text color="secondary">
                                  <p>Valor: {{iteme.valor | currency }}</p>
                                </ion-text>
                              </ion-label>
                        </ion-item>
                        <ion-item lines="full" >
                            <ion-label class="ion-text-wrap">                
                                <ion-text color="secondary">
                                  <p>Total: {{totalconsigerealizadas | currency }}</p>
                                </ion-text>
                              </ion-label>
                        </ion-item>
        
                       </ion-list>
                </ion-grid>
            </div>
        </ion-card>
    </div>

</ion-content>