// :host {
//     sc-ion-select-popover-md   {
//         --font-size: small
//     }
//   }
$radio-md-icon-width: 0;
$radio-md-icon-height:0;
$radio-md-icon-border-width:0;
$radio-md-icon-border-radius:0;
//   .radio .radio-icon {
//     display: none;
//     }
.itemresum {
    padding: initial;
}
.listresum {
    padding-left: 0;
    padding-right: 0;
}
.htitulo{
    font-size: 18px;
    font-weight: bold;
}
.fechacons {
    margin-left: 30px;
    margin-right: 20px;
    background-color: lightgray;
}
.expand-wrapper {
    height: 0;
    transition: 0.2s linear;
  }  
  
  .collapsed {
    height: 0 !important;
  }
  .selectresum{
    font-size: 18px;
  }
  .selectresum1{
    max-width: 50px;
    font-size: 0px;
  }
  .selectresum2{
    font-size: 12px;
    
  }
  
  