agm-map {
    height: 180px;
    .gmnoprint {
        display: none !important;
    }
}

.headerdirec {
    font-weight: 500 !important;
    font-size: inherit !important;
    margin-top: auto;
    margin-bottom: auto;
}