<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button size="small" shape="round" (click)="cerrarModal()" color="tertiary">
                <ion-icon slot="start" name="close"></ion-icon> Cerrar
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
    <ion-card no-margin class="animated fadeIn">
        <ion-card-content class="bg-white">
            <h3>
                <ion-text>
                    <!-- Cliente: {{ _cliente.clienteActual.cliente }} -->
                </ion-text>
            </h3>
            <h3 class="hdatobliga">
                <ion-text>
                    <a [href]="cleanURL(oblshop.link_fact)" class="list-group-item active">
                        Obligación: {{ oblshop.num_obliga }} {{ oblshop.cod_dfactu+'/'+oblshop.num_dfactu }} Fecha: {{
                        oblshop.fecha_obl | date }}
                    </a>
                </ion-text>
            </h3>
            <h3 class="hdatobliga">
                <ion-text>
                    Mcia: {{ oblshop.valor_neto | currency }} +Iva: {{ oblshop.iva | currency }} -Retención: {{
                    oblshop.retencion+oblshop.ret_indyci | currency }} total: {{ oblshop.valor_neto +oblshop.iva -
                    oblshop.retencion - oblshop.ret_indyci | currency }}
                </ion-text>
            </h3>

            <h3 class="hdatobliga">

                <ion-text *ngIf="!apli_des15 && !apli_des30 && oblshop.tot_30dias===0" color="danger">
                    No aplica Descuentos vencieron el {{ oblshop.fec_limde15 | date}}
                </ion-text>
                <ion-text *ngIf="!apli_des15 && !apli_des30 && oblshop.tot_30dias != 0" color="danger">
                    No aplica Descuentos vencieron el {{ oblshop.fec_limde30 | date}}
                </ion-text>
                <ion-text *ngIf="apli_des15" color="success">
                    Descuentos pago en Bancos hasta: {{ oblshop.fec_limde15 | date}} {{dcto_15dias | currency }}
                </ion-text>
                <ion-text *ngIf="apli_des30" color="success">
                    Descuentos Pago en Bancos hasta: {{ oblshop.fec_limde30 | date}} {{dcto_30dias | currency }}
                </ion-text>
            </h3>
        </ion-card-content>
        <ion-item class="bg-white">
            <p slot="start">
                Saldo:
            </p>
            <ion-badge slot="start" color="warning">
                {{oblshop.saldo | currency }}
            </ion-badge>
            <ion-badge slot="end" color="danger">
                {{oblshop.dias_venci }} Días Vencido
            </ion-badge>
        </ion-item>
        <ion-item *ngIf="!paga_efectivo" class="bg-white">
            <ion-label color="dark">Fecha Consignación:</ion-label>
            <ion-datetime *ngIf="!existefechabaseoitem" slot="end" no-padding no-margin class="text-primary fechacons"
                displayFormat="MM/DD/YYYY" pickerFormat="YYYY-MM-DD" min="2019" max="2032" (ionChange)="total()"
                [(ngModel)]="fecha_base"></ion-datetime>
            <ion-text *ngIf="existefechabaseoitem" color="danger"> {{fecha_base | date: 'shortDate'}}</ion-text>
        </ion-item>

        <ion-item class="bg-white">
            <ion-label>Pago en Efectivo</ion-label>
            <ion-checkbox (ionChange)="total()" [(ngModel)]="paga_efectivo"></ion-checkbox>
        </ion-item>
        <ion-item class="bg-white">
            <ion-label>Paga Saldo Total </ion-label>
            <ion-checkbox (ionChange)="total()" [(ngModel)]="abono_total"></ion-checkbox>
        </ion-item>
        <ion-item class="bg-white">
            <p>
                Abono:
            </p>
            <ion-badge slot="end" color="warning">
                {{valor_abono | currency }}
            </ion-badge>
        </ion-item>
        <ion-item class="bg-white">
            <ion-label>
                Nuevo Saldo:
            </ion-label>
            <ion-badge slot="end" color="success">
                {{oblshop.saldo - valor_abono | currency }}
            </ion-badge>
        </ion-item>
        <ion-item class="bg-white" *ngIf="apli_des15 && (dcto_15dias>0)">
            <p>
                Descuento Pago 15 Días
            </p>
            <ion-badge slot="end" color="danger">
                -{{dcto_15dias | currency }}
            </ion-badge>
        </ion-item>
        <ion-item class="bg-white" *ngIf="apli_des30 && (dcto_30dias>0)">
            <p>
                Descuento Pago 30 Días
            </p>
            <ion-badge slot="end" color="danger">
                -{{dcto_30dias | currency }}
            </ion-badge>
        </ion-item>

        <ion-item class="bg-white" *ngIf="!abono_total">
            <p>
                Valor Abonar:
            </p>
            <ion-input class="inputnumero" slot="end" (ionChange)="total()" [(ngModel)]="valor_abono" type="number"
                min="1" max="99999999" step="10000" placeholder="Valor a Abonar" clearOnEdit="true">
            </ion-input>
        </ion-item>
        <ion-item class="bg-white">
            <p>
                Otros Descuentos:
            </p>
            <ion-input class="inputnumero" slot="end" (ionChange)="total()" [(ngModel)]="otros_desc" type="number"
                min="-500000" max="1000" step="1" clearOnEdit="true">
            </ion-input>
        </ion-item>
        <ion-item class="bg-white">
            <p>
                Aj.Retenciones:
            </p>
            <ion-input class="inputnumero" slot="end" (ionChange)="total()" [(ngModel)]="retencion" type="number"
                min="0" max="99999999" step="10000" clearOnEdit="true">
            </ion-input>
        </ion-item>
        <ion-item class="bg-white">
            <ion-button shape="round" color="success" (click)="addrecibo(oblshop)">
                <ion-icon slot="start" name="save"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="danger" (click)="deleterecibo(oblshop)">
                <ion-icon slot="start" name="trash"></ion-icon>
            </ion-button>
            <ion-label>
                Neto a Recibir:
            </ion-label>
            <ion-badge slot="end" color="success">
                {{valor_abono - dcto_15dias - dcto_30dias - otros_desc - retencion | currency }}
            </ion-badge>
        </ion-item>

    </ion-card>
    <ion-footer>
        <ion-toolbar>
        </ion-toolbar>
    </ion-footer>

</ion-content>