.fechahora {
    margin-top: 5px;
    font-size: medium;
}

.hour {
    position: relative;
    top: -16px;
    left: 60px;
    font-size: medium;
}

.position {
    position: relative;
    left: 150px;
    top: -40px;
    font-size: medium;
}

.background {
    height: 20%;
}

.margin-bottom {
    margin-bottom: -20px;
}

.margin-top {
    margin-top: 0px;
}

.idtercer {
    margin-top: 1px;
    font-size: medium;
}