:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
    --padding-top: 0;
    --padding-end: 1px;
    --padding-bottom: 0;
    --padding-start: 1px;
    --transition: color 0.15s linear 0s,
    opacity 0.15s linear 0s;
    min-width: 90px;
    min-height: 48px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 20px;
    text-transform: uppercase;
}

.idtercer {
    margin-top: 1px;
    font-size: medium;
}

.fechahora {
    margin-top: 5px;
    font-size: medium;
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
}
.labelitemseg{
    // padding: 5px;
    max-width: 100% !important;
    overflow: auto;
}
.itemseg{
    margin: auto;
    color: blue($color: #000000);
}
.pseg{
    text-overflow: clip;
}
ion-card.actividadesCard {
    position: relative;
    ion-img {
        margin-bottom: -3px;
    }
    ion-card-subtitle {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 2;
    }
    ion-card-title {
        font-size: 18px;
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 2;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    }
    ion-card-content {
        width: 100%;
        position: absolute;
        z-index: 3;
        bottom: 0;
    }
    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        box-shadow: inset 0 0 15rem rgba(var(--ion-color-dark-rgb), .95)
    }
    .price {
        right: 2%;
        bottom: 20%;
        position: absolute;
    }
    .rooms {
        left: 0;
        position: absolute;
        bottom: 0;
    }
}

ion-button {
    ion-badge {
        position: absolute;
        top: -0.2rem;
        // right: -0.2rem;
        opacity: 0.9;
        &~ion-icon {
            margin-right: 1.2rem;
        }
    }
}

ion-content[_ngcontent-c3] {
    --background: linear-gradient(-135deg, #595959, var(--ion-color-light));
}

ion-card.facturaCard {
    position: relative;
    ion-img {
        margin-bottom: -3px;
    }
    ion-card-header {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 2;
    }
    ion-card-subtitle {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 2;
    }
    ion-card-title {
        font-size: 18px;
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 2;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    }
    ion-card-content {
        width: 100%;
        z-index: 3;
        bottom: 0;
        padding: 2px;
        margin: 3px;
    }
    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        box-shadow: inset 0 0 15rem rgba(var(--ion-color-dark-rgb), .95)
    }
    .price {
        right: 2%;
        bottom: 20%;
        position: absolute;
    }
    .rooms {
        left: 0;
        position: absolute;
        bottom: 0;
    }
}

ion-card.pedidoCard {
    position: relative;
    background-color: #0cd1e8;
    ion-img {
        margin-bottom: -3px;
    }
    ion-card-header {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 2;
    }
    ion-card-subtitle {
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 2;
    }
    ion-card-title {
        font-size: 18px;
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 2;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    }
    ion-card-content {
        width: 100%;
        z-index: 3;
        bottom: 0;
        padding: 5px;
    }
    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        box-shadow: inset 0 0 15rem rgba(var(--ion-color-dark-rgb), .95)
    }
    .price {
        right: 2%;
        bottom: 20%;
        position: absolute;
    }
    .rooms {
        left: 0;
        position: absolute;
        bottom: 0;
    }
}

agm-map {
    height: 180px;
    .gmnoprint {
        display: none !important;
    }
}

ion-slides {
    box-shadow: 0 4px 16px rgba(var(--ion-color-dark-rgb), .4);
    ion-slide {
        .shadow {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            box-shadow: inset 0 0 15rem rgba(var(--ion-color-dark-rgb), .95)
        }
    }
}

.text-capitalize {
    text-transform: capitalize;
    float: top;
}

.text-align {
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: medium;
}

a {
    text-decoration: none;
}

.bg-profile {
    background-image: linear-gradient(135deg, #595959, #131313);
    // background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
}

.profile {
    ion-card {
        width: 100%;
        border-radius: 0;
        background-color: #fff;
        ion-card-content {
            padding: 32px;
            background-color: var(--ion-color-primary);
            color: #fff;
            text-align: center;
            // padding-bottom: 28px;
            img {
                height: 128px;
                width: 128px;
                border-radius: 50%;
                // margin-top: -100px;
                border: solid 4px #fff;
                display: inline;
                box-shadow: 0 0 28px rgba(255, 255, 255, .65);
            }
            h1 {
                // font-size: 2.5rem;
                margin-top: .5rem;
                // color: #fff;
            }
            h3 {
                font-size: 0.9rem;
                color: #fff;
            }
            h4 {
                font-size: 0.8rem;
                color: #fff;
            }
        }
    }
    ion-item {
        ion-input {
            border-bottom: 1px solid var(--ion-color-tertiary);
        }
    }
    ion-buttom {
        button {
            margin: 0;
        }
    }
}

.text-lowercase {
    text-transform: lowercase;
}

.text-align {
    text-align: center;
    font-weight: bold;
    margin: 0;
}

a {
    text-decoration: none;
}

.hour {
    position: relative;
    top: -16px;
    right: 60px;
    font-size: medium;
}

.text {
    position: relative;
    top: -10px;
}

.position {
    position: relative;
    left: 50px;
    top: -40px;
    font-size: medium;
}

.background {
    height: 20%;
}

.size-col {
    height: 120px;
}

.color {
    background-color: #ffffff;
}

.fab-buttom {
    position: relative;
    bottom: 290px;
    right: 3px;
}

.register-buttom {
    position: relative;
    left: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.background-tolbar {
    // background-image: linear-gradient(135deg, #595959, #131313);
    background-image: linear-gradient(135deg, var(--ion-color-dark-contrast), var(--ion-color-medium-tint));
    // }    
}

.buttonult {
    text-transform: none !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 6px;
}

.botones {
    padding-bottom: 45px;
    padding-top: 0px;
    padding-left: 0px;
}

button-native {
    text-transform: none !important;
    padding-right: 5px !important;
    padding-left: 5PX !important;
}

.ion-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.text-color {
    color: #ffffff
}

.btactividades-color {
    color: #222428;
    background-color: #d5ecef;
    --btn-background: #d5ecef;
    --btn-border-color: var(--border-color-checked);
}

.btfacturar-color {
    color: #222428;
    background-color: #d0ddf3;
    --btn-background: #d0ddf3;
    --btn-border-color: var(--border-color-checked);
}

.btcartera-color[_ngcontent-c3] {
    color: #222428;
    background-color: #c5d9fa;
    --btn-background: #c5d9fa;
    --btn-border-color: var(--border-color-checked);
}

.btpedido-color {
    color: #222428;
    background-color: #e2decb;
    --btn-background: #e2decb;
    --btn-border-color: var(--border-color-checked);
}

.btdetalles-color {
    color: #222428;
    background-color: #e3e3e5;
    --btn-background: #e3e3e5;
    --btn-border-color: var(--border-color-checked);
}

.segmentabs {
    justify-content: flex-start;
    --background-checked: dodgerblue;
    --color-checked: var(--ion-color-primary, #3880ff);
    --color-checked-disabled: var(--ion-color-light);
}

.margin-bottom {
    margin-bottom: 0px;
}

.margin-top {
    margin-top: 0px;
}

.border-bottom-color {
    border-top-color: red;
}

.detalles-padding {
    padding-left: var(--ion-padding, 2px);
    padding-right: var(--ion-padding, 3px);
    padding-top: var(--ion-padding, 1px);
    padding-bottom: var(--ion-padding, 4px);
    background: linear-gradient(-135deg, #e3e3e5, var(--ion-color-light));
}

.actividades-padding {
    padding-left: var(--ion-padding, 2px);
    padding-right: var(--ion-padding, 2px);
    padding-top: var(--ion-padding, 1px);
    padding-bottom: var(--ion-padding, 2px);
    background: linear-gradient(-135deg, #d5ecef, var(--ion-color-light));
}

.cartera-padding {
    padding-left: var(--ion-padding, 2px);
    padding-right: var(--ion-padding, 2px);
    padding-top: var(--ion-padding, 1px);
    padding-bottom: var(--ion-padding, 2px);
    background: linear-gradient(-135deg, #c5d9fa, var(--ion-color-light));
}

.facturar-padding {
    padding-left: var(--ion-padding, 2px);
    padding-right: var(--ion-padding, 2px);
    padding-top: var(--ion-padding, 1px);
    padding-bottom: var(--ion-padding, 2px);
    background: linear-gradient(-135deg, #c9d8f3, var(--ion-color-light));
}

.pedido-padding {
    padding-left: var(--ion-padding, 2px);
    padding-right: var(--ion-padding, 2px);
    padding-top: var(--ion-padding, 1px);
    padding-bottom: var(--ion-padding, 2px);
    background: linear-gradient(-135deg, #e2decb, var(--ion-color-light));
}

.boder-color {
    border-color: (--ion-color-secondary, #0cd1e8);
}

.booking-card {
    margin: -20px -20px 40px;
    padding: 20px;
    ion-card {
        width: 100%;
        background-color: #fff;
        margin: 0 0 20px;
        // &:last-of-type {
        //   margin-bottom: 86px;
        // }
        &.searchcard {
            ion-item {
                &::shadow {
                    --inner-border-width: 0;
                }
            }
        }
    }
}

.slide {
    height: 180px;
    box-shadow: 0 0px 0px rgba(var(--ion-color-dark-rgb), 0.4);
    margin-bottom: var(--ion-margin, 1px);
}

.margin-special {
    margin-bottom: var(--ion-margin, 1px);
}

.h3 {
    margin-bottom: 1px;
    margin-top: 3px;
}

.h6 {
    margin-bottom: 14px;
}

.saldo-cartera {
    position: relative;
    left: 20px;
}

.toolbaropciones {
    margin-bottom: 0px;
    margin-top: 0px;
    height: 35px;
    // background-color: #c5d9fa;
}

.cliente-avatar {
    width: 98px;
    height: 98px;
    margin-left: -10px;
}