<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons *ngIf="!_consigna.generando_consigna" slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Consignaciones</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn">
    <ion-text color="primary">
        <h6>
            <ion-icon size="small" color="dark" name="cash"></ion-icon>Pendientes Consignar
        </h6>
    </ion-text>
    <hr class="bg-tertiary">
    <div text-center *ngIf="formpagefec.length === 0 && formpagcheq.length === 0" class="carrito_vacio">
        <ion-icon name="ios-cart-outline" class="icon-5x"></ion-icon>
        <br> No tiene items por consignar
    </div>
    <div *ngIf="!_consigna.generando_consigna && !grabando_consigna && !mostrandoresulado && (formpagefec.length != 0 || formpagcheq.length != 0 || ultconsigna.length != 0)"
        class="bg-white">
        <!-- <ion-card class="bg-primary" no-margin> -->
        <ion-card no-margin>
            <ion-segment [(ngModel)]="vistapagos" color="light">
                <ion-segment-button value="verefec">
                    <ion-label color="tertiary">Efectivo</ion-label>
                </ion-segment-button>
                <ion-segment-button value="vercheques">
                    <ion-label color="tertiary">Cheques</ion-label>
                </ion-segment-button>
                <ion-segment-button value="verpagar">
                    <ion-label color="tertiary">Consignar</ion-label>
                </ion-segment-button>
                <ion-segment-button value="verconsignadas">
                    <ion-label color="tertiary">Efectuadas</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div class="ccFlags" [ngSwitch]="vistapagos">
                <br>
                <ion-grid *ngSwitchCase="'verefec'" nopadding>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-item-sliding *ngFor="let iteme of formpagefec; let i = index;">
                                    <ion-item>
                                        <ion-label>
                                            <h3>
                                                <div class="enviadomsg">
                                                    <ion-icon name="document" slot="start" color="secondary">
                                                    </ion-icon>
                                                    <ion-text color="primary">
                                                        {{iteme.cod_docume+'/'+iteme.num_docume +' ' }}
                                                        {{ iteme.fecha | date: 'mediumDate'}} </ion-text>
                                                </div>
                                                <div class="fechamsg">
                                                    <ion-text color="primary"> {{iteme.valor | currency}}</ion-text>
                                                </div>
                                            </h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-item-sliding>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid *ngSwitchCase="'vercheques'" nopadding>
                    <ion-row>
                        <ion-col size="12">
                            <ion-list>
                                <ion-item-sliding *ngFor="let itemc of formpagcheq; let i = index;">
                                    <ion-item>
                                        <ion-label>
                                            <h3>
                                                <div class="enviadomsg">
                                                    <ion-icon name="document" slot="start" color="secondary">
                                                    </ion-icon>
                                                    <ion-text color="primary">
                                                        {{itemc.cod_docume+'/'+itemc.num_docume +' ' }}
                                                        {{ itemc.fecha | date: 'mediumDate'}} </ion-text>
                                                </div>
                                                <div class="fechamsg">
                                                    <!-- <ion-icon name="calendar" slot="end" color="tertiary" *ngIf="true"></ion-icon> -->
                                                    <ion-text color="primary"> {{itemc.valor | currency}}</ion-text>
                                                </div>
                                            </h3>
                                        </ion-label>
                                    </ion-item>
                                </ion-item-sliding>
                            </ion-list>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid *ngSwitchCase="'verpagar'" nopadding>
                    <ion-row>
                        <!--class="rowtotales"> -->
                        <ion-col>
                            <ion-label class="titulo1">
                                Total Efectivo:
                            </ion-label>
                            <ion-label>
                                +{{totefectivo | currency }}
                            </ion-label>
                            <br>
                            <ion-label color="danger">
                                -{{regconsig.ajuste+regconsig.valor-regconsig.valcheques | currency }}
                            </ion-label>
                            <hr class="bg-primary">
                            <ion-label>
                                {{totefectivo -(regconsig.ajuste+regconsig.valor-regconsig.valcheques) | currency }}
                            </ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-label class="titulo1">
                                Total Cheques:
                            </ion-label>
                            <ion-label>
                                +{{totalcheques | currency }}
                            </ion-label>
                            <br>
                            <ion-label color="danger">
                                -{{regconsig.valcheques | currency }}
                            </ion-label>
                            <hr class="bg-primary">
                            <ion-label>
                                {{totalcheques-regconsig.valcheques | currency }}
                            </ion-label>
                        </ion-col>
                    </ion-row>
                    <hr class="bg-tertiary">
                    <br>
                    <ion-row>
                        <ion-col style="width: 50%">
                            <ion-label class="titulo">Banco:</ion-label>
                            <ion-select *ngIf="cargobancos" placeholder="Seleccione Uno"
                                [(ngModel)]="regconsig.cta_banco" 
                                style=" background: whitesmoke">
                                <ion-select-option *ngFor="let banco of bancos" [value]="banco.cod_banco">
                                    {{banco.banco+"  hol    "}}
                                </ion-select-option>
                            </ion-select>
                        </ion-col>
                        <ion-col style="width: 50%">
                            <ion-label class="titulo">Cheques:</ion-label>
                            <ion-select placeholder="Selecciona" multiple="true" [(ngModel)]="regconsig.cheques"
                                (ionChange)="actCheques($event)"
                                    style=" background: whitesmoke">
                                <ion-select-option *ngFor="let cheque of formpagcheq;let indice=index" [value]="indice">
                                    {{cheque.cod_docume}}{{cheque.num_docume+" "}}{{cheque.valor| currency}}
                                </ion-select-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-row>
                        <ion-col>
                            <div>
                                <ion-label class="titulo">Valor:</ion-label>
                                <ion-input required slot="end" class="inputnumero" placeholder="0" [(ngModel)]="regconsig.valor"
                                    type="number" [min]="0" [max]="9999999999">
                                </ion-input>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                <ion-label class="titulo">Ajuste:</ion-label>
                                <ion-input required slot="end" class="inputnumero" placeholder="0" [(ngModel)]="regconsig.ajuste"
                                    type="number" [min]="0" [max]="1000">
                                </ion-input>
                            </div>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-row>
                        <ion-col>
                            <div>
                                <ion-label class="titulo">Referencia:</ion-label>
                                <ion-input required slot="end" class="inputnumero" placeholder="Ingresar ref."
                                    [(ngModel)]="regconsig.referencia" type="text">
                                </ion-input>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                <ion-button icon-left size="small" shape="round" color="tertiary"
                                    (click)="seleccionarFoto()">
                                    Archivo
                                    <ion-icon name="folder"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                <ion-button icon-left size="small" shape="round" color="tertiary"
                                    (click)="mostrar_camara()">
                                    Foto
                                    <ion-icon name="camera"></ion-icon>
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-row *ngIf=" tomofoto && imagenPreview">
                        <ion-col>
                            <img  [src]="_DomSanitizer.bypassSecurityTrustUrl(imagenPreview)" />
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-label class="titulo">Notas:</ion-label>
                            <ion-textarea style="background: whitesmoke" rows="2" cols="12" inputmode="text"
                                placeholder="Registre las Notas" [(ngModel)]="regconsig.nota" [value]="regconsig.nota">
                            </ion-textarea>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <!-- *ngIf="(totefectivo + totalcheques) > 0 && regconsig.cta_banco  && regconsig.referencia  && ((totefectivo + totalcheques) - (regconsig.valor+regconsig.ajuste))===0 && (regconsig.ajuste <= 1000) " -->
                            <div>
                                <ion-button [disabled]="regconsig.valor==0 || regconsig.valor<regconsig.valcheques|| ajuste >100 || regconsig.referencia ==''|| banco==[]"
                                    style="position:relative; left: 50%; transform: translate(-50%,0);" slot="start"
                                    shape="round" color="success" (click)="realizar_consigna()">
                                    Registrar Consignacón
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid *ngSwitchCase="'verconsignadas'">
                    <ion-row>
                        <ion-col size="12" no-margin>
                            <ion-card no-margin class="bg-white margin-top margin-bottom"
                                *ngFor="let item of ultconsigna">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col size="5">
                                            <div>
                                                <a (click)="presentImage(item.data.link_imgfb, item.data.id)">
                                                    <img *ngIf="item.data.link_imgfb"
                                                        [src]="_DomSanitizer.bypassSecurityTrustUrl(item.data.link_imgfb)" />
                                                    <img *ngIf="!item.data.link_imgfb"
                                                        src="assets/img/imagennodisponible.jpg" />
                                                </a>
                                            </div>
                                        </ion-col>
                                        <ion-col size="7">
                                            <ion-row>
                                                <ion-col size="8">
                                                    {{item.data.cod_docume+'/'+item.data.num_docume}}
                                                </ion-col>
                                                <ion-col size="4">
                                                    {{item.data.fecha | date: 'shortDate'}}
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col size="12">
                                                    Número: {{ item.data.referencia }}
                                                </ion-col>
                                            </ion-row>

                                            <ion-row>
                                                <ion-col size="12">
                                                    <p class="saldo-cartera">Valor:{{item.data.valor | currency }}
                                                    </p>
                                                </ion-col>

                                            </ion-row>
                                            <ion-row>
                                                <ion-col>
                                                    <ion-button size="small" shape="round" expand="full" color="warning"
                                                        (click)="actualizarFotoconsigna(item.id)">
                                                        <ion-icon slot="start" name="book"></ion-icon>
                                                        Act. Foto
                                                    </ion-button>
                                                </ion-col>
                                            </ion-row>
                                            <!-- <div>
                                                    <ion-item tappable (click)="actualizarFotoconsigna(item.id)">
                                                        <p text-capitalize>
                                                            {{item.data.cod_docume + ' - ' + item.data.num_docume}} {{item.data.fecha | date: 'short'}}
                                                        </p>
                                                    </ion-item>
                                                </div> -->
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                <hr class="bg-tertiary">
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-card>
    </div>
    <ion-card *ngIf="grabando_consigna && !mostrandoresulado">
        <ion-item padding class="animated fadeIn fast">
            <ion-text color="warning"> Grabando recibo. Por favor espere...</ion-text>
            <ion-spinner name="bubbles"></ion-spinner>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="grabando_consigna && !grabo_consigna && mostrandoresulado && _consigna.errorgrb_consig">
        <ion-text color="danger"> Error Grabando recibo </ion-text>
        <ion-text color="danger"> {{_consigna.menerrorgraba}}</ion-text>
        <!-- <ion-item *ngFor="let iteme of _visitas.visita_activa_copvdet.resgrb_recibo; let i = index;" padding class="animated fadeIn fast"> -->
        <!-- <ion-text color="danger"> {{iteme.menerror.trim()}}</ion-text> -->
        <!-- </ion-item> -->
        <ion-button slot="end" shape="round" color="success" (click)="quitar_resuladograboconsigna()">
            Continuar
        </ion-button>
    </ion-card>
    <ion-card class="btrecibotot-color" *ngIf="grabando_consigna && grabo_consigna && mostrandoresulado">
        <ion-text color="green"><strong> {{_consigna.resgrb_consig}}</strong></ion-text>
        <div>
            <textarea class="texto_imprimir">{{_consigna.consig_grabada.txt_imp}}</textarea>
        </div>
        <ion-button slot="start" shape="round" color="success" (click)="imprimir_consigna()">
            Imprimir consigna
        </ion-button>
        <ion-button slot="end" shape="round" color="success" (click)="quitar_resuladograboconsigna()">
            Continuar
        </ion-button>
    </ion-card>
</ion-content>